.profile img{
    border: solid 1px black;
    width: 350px;
    height: 350px;
    border-radius: 350px;
    margin: 50px;
    background: aqua;
    padding: 15px;
    box-shadow: blue 8px 8px 3px 3px;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2em;
    
}
.infos p{
    text-align: center;
}
.name{
    margin-right: 10px;
    font-size: 5em;
    color: aqua;
    text-shadow: blue 5px 5px;
}
.title{
    text-align: center;
}
.lists{
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}
html{
    font-size: 18px;
    color: aqua;
}
.title{
    border: 4px solid aqua;
    padding: 20px;
    background-image: linear-gradient(to bottom left, #0000B0,#A40000);
    border-radius: 50px;
    box-shadow: #00FFFB 8px 8px 3px 3px;
    width: 60%;
    margin: auto;
}
.job{
    border: 4px solid aqua;
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(to bottom left, #0000B0,#A40000);
    border-radius: 50px;
    box-shadow: #00FFFB 8px 8px 3px 3px;
    width: 60%;
    margin: auto;
}
body{
    background-image: linear-gradient(to bottom right, #0000B0,#A40000);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{
    font-size: xx-large;
    text-shadow: blue 3px 3px;
    text-align: center;
}
h2{
    font-size: xx-large;
    text-shadow: blue 3px 3px;
}
.educ{
    text-align: left;
    padding-left: 20px;
}
.educ p{
    padding-left: 40px;
}